.header{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: var(--smokey-black);
    z-index: 2;
}
.projectsTitle{
    color: var(--eggshell)
}